.apply {
	background-color: #8f9195;
	// display: flex;
	// flex-direction: column;
	text-align: center;
	padding: 20px 18px;
	margin-right: 10px;
	max-width: 280px;
	min-width: 280px;

	&_wrap {
		display: flex;
		flex-direction: column;
		width: 250px;
		margin: 0 auto;
	}

	input {
		background-color: #dadada;
		border-color: transparent;
		border-radius: 13px;
		color: #0b0b0b;
		margin-bottom: 18px;
		line-height: 34px;
		text-indent: 10px;

		&::placeholder {
			color: #0b0b0b;
		}
	}

	.btn {
		border-radius: 13px;
		font-style: italic;
		padding: 0;
	}
	
	&_promo {
		// width: 310px;
		height: 46px;
		background-color: #cacaca;
		font-weight: 700;
		margin-bottom: 10px;
		font-size: 12px;
		display: flex;
		justify-content: space-around;
		align-items: center;

		div:first-child {
			// float: left;
			text-transform: uppercase;
			// padding-left: 16px;

			span {
				font-size: 18px;
			}
		}
	}

	&_time {
		font-size: 26px;
	}

	&_price {
		font-weight: 700;
		margin-bottom: 10px;
	}

	&_noDiscount{
		float: left;

		div:first-child {
			font-size: 12px;
		}
	}

	&_discount {
		float: right;

		div:first-child {
			font-size: 12px;
		}
	}

	&_figure {
		color: #5a0327;
		font-size: 22px;
	}

	@media screen and (max-width: 520px) { 
		order: 1;
		margin: 0 auto;
	}
}