.delivery {
	background-color: #e4dee1;
	padding-bottom: 15vh;
	padding-top: 15vh;
	
	.container {
		display: flex;
		justify-content: space-between;
	}

	h2 {
		font-style: italic;
		padding-left: 15px;
		padding-right: 15px;
	}
	
	&_condition {
		width: 30%;
		text-align: center;
		padding-top: 67px;
		background-repeat: no-repeat;
		background-position: top center;
		background-size: 20%;

		&--truck {
			background-image: url(../../img/truck.png);
		}
		&--money {
			background-image: url(../../img/money.png);
		}
		&--refund {
			background-image: url(../../img/refund.png);
		}
	}


	@media screen and (max-width: 980px) { 
		padding-bottom: 10vh;
		padding-top: 10vh;

		&_condition { 
			background-size: 22%;
		}
	}

	@media screen and (max-width: 680px) { 
		.container { 
			flex-direction: column;
		}

		&_condition { 
			background-size: 14%;
			width: 100%;
			margin-bottom: 36px;
			margin-left: auto;
			margin-right: auto;
			padding-top: 88px;
		}
	}

	@media screen and (max-width: 480px) { 
		padding-bottom: 5vh;
		padding-top: 5vh;

		&_condition { 
			padding-top: 60px
		}
	}

}