.description {
	background-color: #2f2c2c;
	color: #f6ebf0;
	padding-bottom: 5vh;
	padding-top: 5vh;

	h2 {
		text-align: center;
		font-size: 40px;
		font-weight: bold;
		margin-top: 0;
	}

	&_wrap {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		background-image: url(../../img/platinumBlack.png);
		background-repeat: no-repeat;
		background-position: center;
	}

	@media screen and (max-width: 980px) { 
		h2 {
			font-size: 34px;
		}

		&_wrap { 
			flex-direction: column;
			flex-wrap: no-wrap;
			background-image: none;
		}
	}

	@media screen and (max-width: 480px) { 
		padding-bottom: 0;
	}

}