.header {
	background-image: url(../../img/womanBlueWide.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	padding-bottom: 5vh;
	background-color: #c7cdd9;

	&_logo {
		margin-bottom: 32px;
		margin-left: 130px;

		h1 {
			font-size: 52px;
			margin-bottom: 0;
			margin-top: 0;
			text-transform: uppercase;
			padding-left: 8px;
			color: #060606;
			padding-top: 16px;
		}

		p {
			margin-top: 0;
			font-size: 20px;
			color: #1a1718;
		}
	}
	
	&_bottom {
		display: flex;
	}

	&_result {
		// width: 40%;

		p {
			font-weight: 700;
		}
		p:first-child {
			text-transform: uppercase;
			font-size: 20px;
		}
		p:nth-child(2), p:nth-child(3) {
			padding-left: 16px;
		}
	}

	&_product-img {
		width: 110px;
		height: 170px;
		background-image: url(../../img/product.png);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: 100% 4px;
	}


	@media screen and (max-width: 980px) { 
		&_logo { 
			margin-left: auto;
			margin-right: auto;
			text-align: center;
		}

		&_result {
			margin-bottom: 16px !important;
		}

		&_product-img {
			margin: 0 auto;
			background-position: center;
		}
	}

	@media screen and (max-width: 520px) { 
		&_bottom {
			flex-direction: column;
		}

		&_result { 
			order: 0;
			margin: 0 auto;
			text-align: center;
		}

		&_logo { 
			h1 {
				font-size: 46px;
			}
		}
	}
}