.reviews {
	padding-bottom: 5vh;
	padding-top: 5vh;
	background-color: #766f73;

	&_wrapper {
		// position: relative;
		// z-index: 20;
	}

	h2 {
		text-transform: uppercase;
	}

	&_client-img {
		flex-shrink: 1;
		width: 30%;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;

		&--first {
			background-image: url("../../img/olya1.jpg");
		}
		&--second {
			background-image: url("../../img/olya2.jpg");
		}
		&--third {
			background-image: url("../../img/olya3.jpg");
		}
	}

	&_img {
		// background-image: url("../../img/client.png");
		max-width: 800px;
		height: 154px;
		margin: 0 auto 20px auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		// padding-left: 40px;
		// padding-right: 40px;

		&--marina {
			div:nth-of-type(1) {
				background-image: url("../../img/marina1.jpg");
			}
			div:nth-of-type(2) {
				background-image: url("../../img/marina2.jpg");
			}
			div:nth-of-type(3) {
				background-image: url("../../img/marina3.jpg");
			}
		}
		&--ksyusha {
			div:nth-of-type(1) {
				background-image: url("../../img/ksyusha1.jpg");
			}
			div:nth-of-type(2) {
				background-image: url("../../img/ksyusha2.jpg");
			}
			div:nth-of-type(3) {
				background-image: url("../../img/ksyusha3.jpg");
			}
		}
	}

	&_user-img {
		width: 30% !important;
	}

	h3 {
		margin-top: 0;
	}

	&_text {
		margin-top: 30px;
	}

	.slide {
		max-width: 800px;
		margin: 0 auto;
		width: 80%;
	}

	.owl-nav {
		width: 100%;
		position: absolute;
		top: 30%;
		// top: 50%;
		// transform: translateY(-50%);
		height: 60px;
	}

	.owl-stage-outer {
		z-index: 5;
	}

	.owl-next, .owl-prev {
		position: absolute;
		z-index: 6;
	}

	.owl-prev {
		left: 0;
	}

	.owl-next {
		right: 0;
		width: 50px;
		margin-right: 0;
	}


	@media screen and (max-width: 980px) { 
		.owl-prev {
			left: -16px;
		}
		.owl-next {
		}
	}

	@media screen and (max-width: 480px) {  
		text-align: center;

		.owl-nav { 
			top: 16%;
		}

		&_text {
			margin-top: 0;
		}

		&_img {
			height: 76px;
		}
	}
}


