.use {
	margin-bottom: 30px;
	
	.container {
		display: flex;
		justify-content: center;
	}

	h2 {
		text-transform: uppercase;
		font-size: 28px;
		margin: 0 auto 30px auto;
		width: 70%;
		text-align: center;
	}

	&_natural, &_platinum {
		background-image: url(../../img/product.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		width: 103px;
		height: 224px;
		width: 30%;
		text-align: center;
	}

	&_natural {
		background-image: url(../../img/natural.png);
		background-size: 34%;
	}

	&_instruction  {
		margin-top: 0;
		width: 30%;

		li {
			margin-bottom: 30px;
			font-weight: 700;
		}
	}

	@media screen and (max-width: 480px) { 
		.container {
			flex-direction: column;
			text-align: center;
		}

		h2 {
			font-size: 22px;
		}

		&_natural, &_platinum, &_instruction {
			margin-bottom: 16px;
			width: 100%;
		}

	}
}